<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fluffy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,283}}</string>
                <key>sourceSize</key>
                <string>{240,283}</string>
            </dict>
            <key>fluffy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{240,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,272}}</string>
                <key>sourceSize</key>
                <string>{240,272}</string>
            </dict>
            <key>fluffy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,283},{240,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,277}}</string>
                <key>sourceSize</key>
                <string>{240,277}</string>
            </dict>
            <key>fluffy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{240,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,272}}</string>
                <key>sourceSize</key>
                <string>{240,272}</string>
            </dict>
            <key>fluffy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,283}}</string>
                <key>sourceSize</key>
                <string>{240,283}</string>
            </dict>
            <key>fluffy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,283},{240,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,270}}</string>
                <key>sourceSize</key>
                <string>{240,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fluffyframes.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac29fb48cc3cfd7f83fc46c615566de6:06723cf9cac9c89af1b265cd1c7d70c0:4d211f879357f4cc0b86ff6e9ec58cfa$</string>
            <key>textureFileName</key>
            <string>fluffyframes.png</string>
        </dict>
    </dict>
</plist>
