<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Balls</key>
	<integer>6</integer>
	<key>Gold</key>
	<integer>1</integer>
	<key>Silver</key>
	<integer>3</integer>
	<key>Bronze</key>
	<integer>6</integer>
	<key>Obstacles</key>
	<array>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>160</integer>
			<key>spriteName</key>
			<string>rock</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>100</integer>
			<key>spriteName</key>
			<string>rock</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>180</integer>
			<key>y</key>
			<integer>40</integer>
			<key>spriteName</key>
			<string>rock</string>
		</dict>
	</array>
	<key>Fluffy</key>
	<dict>
		<key>x</key>
		<integer>470</integer>
		<key>y</key>
		<integer>190</integer>
	</dict>
	<key>Goal</key>
	<dict>
		<key>apple</key>
		<integer>1</integer>
	</dict>
	<key>Fruits</key>
	<array>
		<dict>
			<key>x</key>
			<integer>270</integer>
			<key>y</key>
			<integer>140</integer>
			<key>spriteName</key>
			<string>apple</string>
		</dict>
	</array>
</dict>
</plist>
