<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gold</key>
	<integer>3</integer>
	<key>Silver</key>
	<integer>2</integer>
	<key>Bronze</key>
	<integer>1</integer>
	<key>Obstacles</key>
	<array>
		<dict>
			<key>x</key>
			<integer>340</integer>
			<key>y</key>
			<integer>220</integer>
			<key>spriteName</key>
			<string>rock</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>100</integer>
			<key>y</key>
			<integer>220</integer>
			<key>spriteName</key>
			<string>rock</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>40</integer>
			<key>spriteName</key>
			<string>rock</string>
		</dict>
	</array>
	<key>Fluffy</key>
	<dict>
		<key>x</key>
		<integer>470</integer>
		<key>y</key>
		<integer>190</integer>
	</dict>
	<key>Goal</key>
	<dict>
		<key>orange</key>
		<integer>1</integer>
		<key>pear</key>
		<integer>1</integer>
		<key>strawberry</key>
		<integer>1</integer>
	</dict>
	<key>Fruits</key>
	<array>
		<dict>
			<key>x</key>
			<integer>270</integer>
			<key>y</key>
			<integer>130</integer>
			<key>spriteName</key>
			<string>orange</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>130</integer>
			<key>spriteName</key>
			<string>pear</string>
		</dict>
		<dict>
			<key>x</key>
			<integer>380</integer>
			<key>y</key>
			<integer>160</integer>
			<key>spriteName</key>
			<string>strawberry</string>
		</dict>
	</array>
</dict>
</plist>
