<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>snore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>snore3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>snore4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{100,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,84}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snoringframes.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2fa7aad9ddf898cf517db9ec38a0d8f:e5451187b4b8e56e72bad23c52159cec:a53e8a3503b38bcff9bc7d1ddd715444$</string>
            <key>textureFileName</key>
            <string>snoringframes.png</string>
        </dict>
    </dict>
</plist>
